{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block blog_post %}
    <div class="blog-post">

        <p class="blog-post-title">{{ post.title }}</p>
        <p class="blog-post-meta"><i class="fa fa-clock-o">&nbsp {{ post.pub_date|date  }}</i> </p>
        {% for screen in post.description_as_list %}
            {{ screen }}<br><br>
        {% endfor %}
        <div class="row">
            <a href="{% url 'edit_post' slug=post.slug %}" class="btn btn-warning" role="button"><i class="fa fa-pencil"></i>&nbsp Edit</a>


            <form class="col-xs-2" method="POST" action="{% url 'delete_post' slug=post.slug %}">{% csrf_token %}
                <button type="submit" class="btn btn-danger"> <i class="fa fa-minus-circle"></i>&nbsp Delete</button>
            </form>
        </div>
        <hr />

        {% for post in post_comment %}
            {{ post.comments|linebreaksmi }}


        {% endfor %}
    {{ comment.c }}


        <form method="POST" action="{% url 'detail' slug=post.slug %}">
            {{ form|crispy }}{% csrf_token %}
            <input type="submit">

        </form>

        .</div>
{% endblock %}